{% extends "Admin/Dashboard/dashboardLayout.html" %}
{% block content %}

<div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Edit Post</h4>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid col-md-5 col-lg-6">
           
               <!-- Search form -->
        <form class="form-inline col-md-6 form-sm active-cyan-2 mt-2">
            <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search "
              aria-label="Search" style="border-color: black">
            <i class="fas fa-search" aria-hidden="true"></i>
          </form>
    

                <form>
                        <div class="form-group mt-4">
                          <label > Job Tillte<span style="color: red">*</span></label>
                          <input type="text" class="form-control" style="border-color: black" required="" >
                      </div>
            
                      <div class="form-group">
                            <label for="exampleFormControlInput1">Department</label>
                    <select class="custom-select custom-select-sm "style="border-color: black">
                        <option selected>Select</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                      </select>
                    </div>
              
                      <div class="form-group">
                          <label>Job Advertistment</label>
                          <input type="file" class="form-control-file" id="exampleFormControlFile1" style="border-color: black">
                      </div>
              
                      <div class="row">
                            <div class="col-md-2">
                            <button type="button" class="btn btn-warning mt-2">UPDATE</button>
                            </div>
                            <div class="col-md-2">
                                    <button type="button" class="btn btn-danger mt-2">DELETE</button>
                                    </div>
            
                        </div>
              
                  </form>
              
         

        </div>


{% endblock content %}