<!DOCTYPE html>
<html dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static',filename='assets/images/favicon.png')}}">
    <title>User Access</title>
    <!-- Custom CSS -->
    <link href="{{url_for('static',filename='dist/css/style.min.css')}}" rel="stylesheet">
    <!-- ConfirmJS CSS File -->
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/ConfirmJS/jquery-confirm.css')}}">
    <!-- Alertify CSS -->
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/Alertify/alertify.min.css')}}">
</head>

<body>
    <div class="main-wrapper">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Login box.scss -->
        <!-- ============================================================== -->
        <div class="auth-wrapper no-block bg-dark justify-content-center align-items-center">
            <div class="">
                <div id="ShowSuccessAlert" hidden="" class="alert alert-success alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <div class="text-center">
                        <strong>Successfully Registered!</strong>
                    </div>
                </div>
                <div id="loginform">
                    <div class="text-center">
                        <h3 style="color: white">User Access</h3>
                    </div>
                    <!-- User Access Table Star -->
                    <table id="UserAccessTable" class="table table-dark">
                        <thead>
                            <tr>
                                <th class="text-center">Username</th>
                                <th class="text-center">User Type</th>
                                <th class="text-center">User Access</th>
                                <th class="text-center">Change Permission</th>
                            </tr>
                        </thead>
                        <tbody id="#UserAccessBody">

                        </tbody>
                    </table>
                    <!-- User Access Table End -->
                </div>
            </div>
        </div>

    </div>
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script src="{{url_for('static',filename='assets/libs/jquery/dist/jquery.min.js')}}"></script>
    <!-- ConfirmJS JS File -->
    <script src="{{ url_for('static',filename='js/ConfirmJS/jquery-confirm.js') }}"></script>
    <!-- Global Customize JS Methods File -->
    <script src="{{ url_for('static',filename='js/GlobalJS/Global.js') }}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{{url_for('static',filename='assets/libs/popper.js/dist/umd/popper.min.js')}}"></script>
    <script src="{{url_for('static',filename='assets/libs/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <!-- Alertify JS For Alerts -->
    <script src="{{ url_for('static',filename='js/Alertify/alertify.min.js') }}"></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->

    <script>
        // Alertify Default Settings
        alertify.set('notifier', 'delay', 4);
        alertify.set('notifier', 'position', 'top-right');
    </script>

    <script>

        $(document).ready(function () {
            fillTable();
        });



        $('[data-toggle="tooltip"]').tooltip();
        $(".preloader").fadeOut();
        // ============================================================== 
        // Login and Recover Password 
        // ============================================================== 
        $('#to-recover').on("click", function () {
            $("#loginform").slideUp();
            $("#recoverform").fadeIn();
        });
        $('#to-login').click(function () {

            $("#recoverform").hide();
            $("#loginform").fadeIn();
        });

        function fillTable() {
            $.ajax({
                url: '/getuserdata',
                type: 'get',
                success: function (data) {
                    var rows = "";
                    data.forEach(element => {
                        if (element.UserAccess == null || element.UserAccess == false) {
                            element.UserAccess = "No";
                        }

                        if (element.UserAccess == true) {
                            element.UserAccess = "Yes";
                        }

                        let row = `<tr><td class="text-center">${element.Username}</td>
                            <td class="text-center">${element.UserType}</td>
                            <td class="text-center">${element.UserAccess}</td>
                            <td class="text-center">
                                <div class="form-control">
                                    <select name="ChangePermission" class="form-control" id="${element.Id}ChangePermission">
                                        <option value="select" selected>select..</option>
                                        <option value="Yes">Yes</option>
                                        <option value="No">No</option>
                                    </select>
                                    <button onclick="submitChange('${element.Id}')" type="submit" class="btn btn-success mt-2">Change</button>
                                </div>
                            </td></tr>`;
                        rows = rows + row;
                    });

                    $('#UserAccessTable tbody').append(rows);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR.status, errorThrown);
                }
            });
        }

        function submitChange(elementId) {
            $DropDown = $(`#${elementId}ChangePermission`).val();
            if ($DropDown == 'select') {
                alertify.error("Please select permission type!");
                return;
            }

            $.ajax({
                url: '/useraccess',
                type: 'post',
                data: { "Access": $DropDown, "Id": elementId },
                success: function (data) {
                    if (data.Type == "Success") {
                        alertify.success("Successfully Changed!");
                        $('#UserAccessTable tbody').empty();
                        fillTable();
                    }
                    else {
                        alertify.error("Error!");
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR.status, errorThrown);
                }
            });


        }

    </script>
</body>

</html>