{% extends "website/homeLayout.html" %}
{% block content %}

<style>
.white{
  color: white
}
</style>

<div class=" container contact-section my-5 col-lg-8 col-md-6">

  <!-- Form with header -->
  <div class="card">
    
    <!-- Grid row -->
    <div class="row">
      
      <!-- Grid column -->
      <div class="col-lg-8">
        
        <div class="card-body form">
          
          <!-- Header -->
          <h3 class="mt-4"><i class="fas fa-envelope pr-2"></i>Write to us:</h3>
          
          <!-- Grid row -->
          <div class="row">
            
            <!-- Grid column -->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="form-contact-name" class="form-control">
                <label for="form-contact-name" class="">Your name</label>
              </div>
            </div>
            <!-- Grid column -->
            
            <!-- Grid column -->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="form-contact-email" class="form-control">
                <label for="form-contact-email" class="">Your email</label>
              </div>
            </div>
            <!-- Grid column -->
            
          </div>
          <!-- Grid row -->
          
          <!-- Grid row -->
          <div class="row">
            
            <!-- Grid column -->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="form-contact-phone" class="form-control">
                <label for="form-contact-phone" class="">Your Country</label>
              </div>
            </div>
            <!-- Grid column -->
            
            <!-- Grid column -->
            <div class="col-md-6">
              <div class="md-form mb-0">
                <input type="text" id="form-contact-company" class="form-control">
                <label for="form-contact-company" class="">Subject</label>
              </div>
            </div>
            <!-- Grid column -->
            <div class="col-md-12 col-sm-9 mt-4"> 
              <label class="radio-inline mr-3" ><input type="radio" name="optradio" class="mr-2" checked>Feedback</label>
              <label class="radio-inline mr-3"><input type="radio" name="optradio" class="mr-2">Inquiry</label>
              <label class="radio-inline mr-3"><input type="radio" name="optradio" class="mr-2"> Other</label>
            </div>
            

            
          </div>
          <!-- Grid row -->
          
          <!-- Grid row -->
          <div class="row">
            
            <!-- Grid column -->
            <div class="col-md-12">
              <div class="md-form mb-0">
                <textarea id="form-contact-message" class="form-control md-textarea" rows="3"></textarea>
                <label for="form-contact-message">Your message</label>
                <a class="btn-floating btn-lg blue mt-2">
                  <i class="far fa-paper-plane"></i>
                </a>
              </div>
            </div>
            <!-- Grid column -->
            
          </div>
          <!-- Grid row -->
          
        </div>
        
      </div>
      <!-- Grid column -->
      
      <!-- Grid column -->
      <div class="col-lg-4" style="background-color:#0b2463;">
        
        <div class="card-body contact text-center h-100 white-text">
          
         
          <h5 class="mt-4">Maam Biscuits Lanka Pvt (Ltd)</h5>
          <hr class="hr-light my-4">

        </div>
        
      </div>
      <!-- Grid column -->
      
    </div>
    <!-- Grid row -->
    
  </div>
  <!-- Form with header --> 
</div>
<!-- Section: Contact v.3 -->

<section class=" container fluid mt-3 col-lg-9 text-center" style="background-color: #d4d8dc;padding-top: 25px;
padding-bottom: 25px;
margin-bottom: 44px;">  
<div class="row">
  
  <div class="col-md-4">
    <i class="fas fa-map-marker-alt pr-2" style="font-size: 32px;color: #0b2463"></i>

    <ul class="text-lg-left list-unstyled ml-4 mt-2">
      <li>
        <p>Office: <span>No.226, Main Street, Akurana, Kandy, Sri Lanka.</span></p>
      </li>
      <li>
        <p>factory: <span>No.07, Warakanda Estate, Warakamura, Matale, Sri Lanka.</span> </p>
      </li>
    </ul>
    
  </div>
  
  <div class="col-md-4">
    <i class="fas fa-phone pr-2" style="font-size: 32px;color: #0b2463"></i>

    <ul class="text-lg-left list-unstyled ml-4 mt-2">
      <li>
        <p>Hotline: <span>+94-772 249 904</span></p>
      </li>
      <li>
        <p>office: <span>+94 (81)-2300024</span> </p>
      </li>
    </ul>
  </div>
  
  <div class="col-md-4" >
    <i class="fas fa-envelope pr-2 "  style="font-size: 32px; color: #0b2463"></i>

    
    <ul class="text-lg-left list-unstyled ml-4 mt-2">
      <li>
        <p>General E-mail: <span>info@maambiscuits.com.lk</span></p>
      </li>
      <li>
        <p>Export : <span>export@maambiscuits.com.lk</span> </p>
      </li>
    </ul>
  </div>
  
</div>
</section> 


{% endblock content %}









