{% extends "website/homeLayout.html" %}
{% block content %}
<style>
  .input-group.search{
    margin-top: 6px;
  }
  #SearchButton{
    background-color: #0f2b72;
  }
  .fa-search{
    color: white;
  }
  .font-10{
    font-size: 13px;
  }
</style>

<section>
  <div class="container-fluid">
    <div class="row" style="margin-top: 85px;">

      <div class="col-md-9">


        <div class="col-md-12">
          <div class="input-group search md-form form-sm form-2 pl-0 col-md-4">
            <input class="form-control my-0 py-1 amber-border" type="text" id="TextBoxSearch" placeholder="Search"
              aria-label="Search">
            <div class="input-group-append">
              <span class="input-group-text  " id="SearchButton"><i class="fas fa-search text-grey"
                  aria-hidden="true"></i></span>
            </div>
          </div>
          <div class="row" id="ProductDisplayRow">
            <template id="ProductTemplate">
              <div class="col-md-3 mt-3 animated fadeIn mb-3">
                <!-- Card -->
                <div class="card">

                  <!-- Card image -->
                  <div class="view overlay">
                    <img class="card-img-top" alt="Card image cap" id="Image">
                    <a href="#!">
                      <div class="mask rgba-white-slight"></div>
                    </a>
                  </div>

                  <!-- Card content -->
                  <div class="card-body">

                    <!-- Title -->
                    <h5 class="card-title font-10"  id="title">Card title</h5>
                    <!-- Text -->
                    <div class="row">
                      <div class="col-md-6">
                        <p class="font-10" id="Unit"></p>
                      </div>

                      <div class="col-md-6">
                        <p class="font-10" id="Price"></p>
                        </div>

                    </div>


                  </div>

                </div>
                <!-- Card -->

              </div>
            </template>
          </div>
          <h2 id="NoProduct" class="text-danger ml-4 mt-4 animated fadeIn">No Products Found!</h2>
        </div>


      </div>

      <div class=" col-md-3">

        <div class="list-group mt-2">
          <li class="list-group-item active " style="background-color: #0f2b72">Categories</li>
          <div id="ItemCategoryGroupButtons">
          </div>
        </div>

        <div class="list-group mt-4 mb-4">
          <li class="list-group-item active" style="background-color: #0f2b72">New Release</li>
          <div id="NewReleasesGroupButtons">

          </div>
          

        </div>
      </div>

    </div>
  </div>

</section>

<script>

  $(document).ready(function () {
    LoadProducts();
    LoadItemCategoryGroupButtons();
    LoadNewReleasesGroupButtons();
  });

  function LoadItemCategoryGroupButtons() {
    $.ajax({
      url: '/GetFinishedGoods',
      type: 'get',
      success: function (data) {
        var Buttons = '';
        for (var i = 0; i < data.length; i++) {
          Buttons += '<button type="button" onClick="LoadCategoryProducts(\'' + data[i]['id'] + '\')" class="list-group-item list-group-item-action">' + data[i]['CatDescription'] + '</button>';
        }
        $('#ItemCategoryGroupButtons').html(Buttons);
      },
      error: function (xhr, errorThrown) {
        console.log(xhr, errorThrown);
      }
    });
  }

  function LoadProducts() {
    $('#NoProduct').attr('hidden', 'true');
    var ProductDisplayRow = document.querySelector('#ProductDisplayRow');
    var Template = document.querySelector('#ProductTemplate');

    fetch('/GetProducts').then((Response) => {
      Response.json().then((data) => {
        if (data.length === 0) {
          $('#NoProduct').removeAttr('hidden');
          return;
        }
        for (var i = 0; i < data.length; i++) {
          let TemplateClone = Template.content.cloneNode(true);
          TemplateClone.querySelector('#Image').setAttribute('src', '/static' + data[i]['ItemImagePath']);
          TemplateClone.querySelector('#title').innerHTML = data[i]['ItemName'];
          TemplateClone.querySelector('#Unit').innerHTML = data[i]['ItemUnit']+'g';
          TemplateClone.querySelector('#Price').innerHTML = 'Rs '+data[i]['ItemPrice'];
          ProductDisplayRow.appendChild(TemplateClone);
        }
      });
    });
  }

  function RemoveChildElements(ParentElement) {
    const NodeElement = document.getElementById(ParentElement);
    while (NodeElement.firstChild) {
      NodeElement.removeChild(NodeElement.firstChild);
    }

    const Markup = ['<template id="ProductTemplate">', '<div class="col-md-3 mt-3 animated fadeIn">', '<div class="card">', '<div class="view overlay">', '<img class="card-img-top" alt="Card image cap" id="Image">', '<a href="#!"><div class="mask rgba-white-slight"></div></a>', '</div>', '<div class="card-body"><!-- Title --><h5 class="card-title" id="title">Card title</h5><div class="row"><div class="col-md-6"><p id="Unit"></p></div><div class="col-md-6"><p id="Price"></p></div></div><!-- Text --></div></div><!-- Card --></div></template>'].join('\n');
    document.getElementById('ProductDisplayRow').innerHTML = Markup;
  }

  $('#SearchButton').click(function () {
    var Parameter = $('#TextBoxSearch').val()

    LoadSearchedProducts(Parameter);

  });

  function LoadSearchedProducts(search) {
    $('#NoProduct').attr('hidden', 'true');

    if (search === "") {
      LoadProducts();
    }
    //Removing all current loaded Products
    RemoveChildElements('ProductDisplayRow');

    var ProductDisplayRow = document.querySelector('#ProductDisplayRow');
    var Template = document.querySelector('#ProductTemplate');

    fetch('/GetProducts/' + search).then((Response) => {
      Response.json().then((data) => {
        if (data.length === 0) {
          $('#NoProduct').removeAttr('hidden');
          return;
        }
        for (var i = 0; i < data.length; i++) {
          let TemplateClone = Template.content.cloneNode(true);
          TemplateClone.querySelector('#Image').setAttribute('src', '/static' + data[i]['ItemImagePath']);
          TemplateClone.querySelector('#title').innerHTML = data[i]['ItemName'];
          TemplateClone.querySelector('#Unit').innerHTML = data[i]['ItemUnit']+'g';
          TemplateClone.querySelector('#Price').innerHTML = 'Rs '+data[i]['ItemPrice'];
          ProductDisplayRow.appendChild(TemplateClone);
        }
      });
    });
  }


  function LoadCategoryProducts(Category) {
    $('#NoProduct').attr('hidden', 'true');

    if (Category === "") {
      LoadProducts();
    }
    //Removing all current loaded Products
    RemoveChildElements('ProductDisplayRow');

    var ProductDisplayRow = document.querySelector('#ProductDisplayRow');
    var Template = document.querySelector('#ProductTemplate');

    fetch('/GetProducts/ByCategory/' + Category).then((Response) => {
      Response.json().then((data) => {
        if (data.length === 0) {
          $('#NoProduct').removeAttr('hidden');
          return;
        }
        for (var i = 0; i < data.length; i++) {
          let TemplateClone = Template.content.cloneNode(true);
          TemplateClone.querySelector('#Image').setAttribute('src', '/static' + data[i]['ItemImagePath']);
          TemplateClone.querySelector('#title').innerHTML = data[i]['ItemName'];
          TemplateClone.querySelector('#Unit').innerHTML = data[i]['ItemUnit']+'g';
          TemplateClone.querySelector('#Price').innerHTML = 'Rs '+data[i]['ItemPrice'];
          ProductDisplayRow.appendChild(TemplateClone);
        }
      });
    });
  }

  function LoadNewReleasesGroupButtons(){
    $.ajax({
      url: '/GetNewReleases',
      type: 'get',
      success: function (data) {
        var Buttons = '';
        for (var i = 0; i < data.length; i++) {
          Buttons += '<button type="button" onClick="LoadSearchedProducts(\'' + data[i]['ItemName'] + '\')" class="list-group-item list-group-item-action">' + data[i]['ItemName'] + '</button>';
        }
        $('#NewReleasesGroupButtons').html(Buttons);
      },
      error: function (xhr, errorThrown) {
        console.log(xhr, errorThrown);
      }
    });
  }


</script>


{% endblock content %}