{% extends "website/homeLayout.html" %}
{% block content %}

<section>
  <div class="container-fluid">
   <div class="row" style="margin-top: 85px;">

    <div class="col-md-9">

     
      <div class="col-md-12">
        <div class="input-group md-form form-sm form-2 pl-0 col-md-6">
      <input class="form-control my-0 py-1 amber-border" type="text" placeholder="Search" aria-label="Search">
      <div class="input-group-append">
        <span class="input-group-text  " id="basic-text1"><i class="fas fa-search text-grey"
          aria-hidden="true"></i></span>
        </div>
      </div>
      <div class="row">


        <div class="col-md-3">
          <!-- Card -->
          <div class="card">

            <!-- Card image -->
            <div class="view overlay">
              <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQm2B91Qtdm3Xkw2n6Iu-SmwjvojJT8_pTrysOBoQTwtLlovPYD" alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!-- Card content -->
            <div class="card-body">

              <!-- Title -->
              <h5 class="card-title">Card title</h5>
              <!-- Text -->
             
            
            </div>

          </div>
          <!-- Card -->
          
        </div>

        <div class="col-md-3">
          <!-- Card -->
          <div class="card">

            <!-- Card image -->
            <div class="view overlay">
              <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZkYvIn65BbXHXycbfSIlryL2lKt8w648OOww_2mttoP5SU4ec" alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!-- Card content -->
            <div class="card-body">

              <!-- Title -->
              <h5 class="card-title">Card title</h5>
              <!-- Text -->
              
            </div>

          </div>
          <!-- Card -->

        </div>

        <div class="col-md-3">
          <!-- Card -->
          <div class="card">

            <!-- Card image -->
            <div class="view overlay">
              <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDsbnlhUUILkXy7gtUfh1WEc2UQQv-TXO5KwwgVk255wawRawg" alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!-- Card content -->
            <div class="card-body">

              <!-- Title -->
              <h5 class="card-title">Card title</h5>
              <!-- Text -->
              

            </div>

          </div>
          <!-- Card -->

        </div>

         <div class="col-md-3">
          <!-- Card -->
          <div class="card">

            <!-- Card image -->
            <div class="view overlay">
              <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDsbnlhUUILkXy7gtUfh1WEc2UQQv-TXO5KwwgVk255wawRawg" alt="Card image cap">
              <a href="#!">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <!-- Card content -->
            <div class="card-body">

              <!-- Title -->
              <h5 class="card-title">Card title</h5>
              <!-- Text -->
              

            </div>

          </div>
          <!-- Card -->

        </div>

        
      </div>
    </div>


    </div>

    <div class=" col-md-3">

      <div class="list-group mt-2">
       <li class="list-group-item active" style="background-color: #0f2b72">Categories</li>
       <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in</button>
       <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
       <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
      
     </div>

     <div class="list-group mt-4 mb-4">
      <li class="list-group-item active" style="background-color: #0f2b72">New Release</li>
      <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in</button>
      <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
      <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
    
    </div>
  </div>

</div>
</div>

</section>


{% endblock content %}

