{% extends "Admin/Dashboard/dashboardLayout.html" %}
{% block content %}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Add New Product</h4>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid col-md-9 col-lg-10">

        <form id="AddProductForm" method="POST">
            <div class="form-group">
                <label for="exampleFormControlInput1">Item Code</label>
                <input type="text" class="form-control" name="TextBoxItemCode" id="TextBoxItemCode"
                    style="border-color: black">
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput1">Product Name</label>
                <input type="text" class="form-control" name="TextBoxProductName" id="TextBoxProductName"
                    style="border-color: black">
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput1">Unit</label>
                <input type="text" class="form-control" name="TextBoxUnit" id="TextBoxUnit" style="border-color: black">
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput1">Price</label>
                <input type="text" class="form-control" name="TextBoxPrice" id="TextBoxPrice"
                    style="border-color: black">
            </div>

            <div class="form-group">
                <label for="exampleFormControlInput1">Item category</label>
                <select class="custom-select custom-select-sm " name="DropDownListItemCategory"
                    id="DropDownListItemCategory" style="border-color: black">
                </select>
            </div>

            <div class="form-group">
                <label for="exampleFormControlFile1">Image</label>
                <input type="file" class="form-control-file" name="InputFieldImage" id="InputFieldImage"
                    style="border-color: black">
            </div>

            <button type="submit" id="ButtonSubmit" class="btn btn-dark mt-2">Submit</button>

        </form>

    </div>

    <script>
        $.ajax({
            type: 'get',
            url: '/GetFinishedGoods',
            success: function (data) {
                var options = '';
                for (var x = 0; x < data.length; x++) {
                    options += '<option value="' + data[x]['id'] + '">' + data[x]['CatDescription'] + '</option>';
                }
                $('#DropDownListItemCategory').html(options);
            },
            error: function (xhr, errorThrown) {
                console.log(xhr, errorThrown);
            }
        });

        $('#AddProductForm').submit(function (e) {
            e.preventDefault();

            var formData = new FormData(this);

            $.ajax({
                type: 'post',
                data: formData,
                url: '/Add_Product',
                success: function (data) {
                    if (data.Type == "Success") {
                        $("form").trigger("reset");
                        alertify.success(data.Message);
                    }
                    else {
                        alertify.error(data.Message);
                    }
                },
                error: function (xhr, errorThrown) {
                    console.log(xhr, errorThrown);
                },
                cache: false,
                contentType: false,
                processData: false
            });
        });

    </script>

    {% endblock content %}