{% extends "website/homeLayout.html" %}
{% block content %}

<style>
  .white {
    color: white
  }

  ul#horizontal-list li {
    display: inline;
  }
</style>

<div class="container contact-section my-5 col-lg-8 col-md-6">
  <form id="JobApplication" class="border border-light p-5" style="font-weight: 500" enctype="multipart/form-data">
    <div>
      <p class="h4 mb-4 text-center">Application Form </p>
      <p>
        <h4>Job Tittle</h4>
      </p>
    </div>
    <label>Name</label>
    <input type="text" name="Name" class="form-control mb-4">
    <label>Residential Address</label>
    <input type="text" name="Address" class="form-control mb-4">
    <label>Contact Number</label>
    <input type="text" name="Contact" class="form-control mb-4">
    <label>Email</label>
    <input type="email" name="Email" class="form-control mb-4">
    <label for="textInput">Academic Qualification</label>
    <textarea class="form-control rounded-0 mb-4" name="AcademicQuali" rows="3"></textarea>
    <label for="textInput">Other Qualification</label>
    <textarea class="form-control rounded-0 mb-4" name="OtherQuali" rows="3"></textarea>
    <label for="textInput">Experience</label>
    <textarea class="form-control rounded-0 mb-4" name="Experience" rows="3"></textarea>
    <div class="input-group mb-4 ">
      <div class="input-group-prepend">
        <span class="input-group-text">Upload your cv</span>
      </div>
      <div class="custom-file">
        <input type="file" class="custom-file-input" name="CV" aria-describedby="fileInput">
        <label class="custom-file-label" for="fileInput"></label>
      </div>
    </div>
    <button class="btn btn-info btn-block my-4" type="submit">Send</button>
  </form>
  <!-- bottom nav -->
  <div>
    <div id="menu-outer" style="margin-top:10px">
      <div class="table">
        <ul id="horizontal-list">
          <li><a href="#" href="{{url_for('Vacancy.view_Career')}}">Career Overview <span>|</span></a></li>
          <li><a href="{{url_for('Vacancy.view_Vacancy')}}">Vacancy <span>|</span></a></li>
          <li><a href="{{url_for('Vacancy.job_Application')}}">Job Application</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- bottom nav -->

</div>

<script>
  $('#JobApplication').submit(function (e) {
    e.preventDefault();

    var formData = new FormData(this);

    $.ajax({
      type: 'post',
      data: formData,
      url: '/Job_Application',
      success: function (data) {
        if (data.Type == "Success") {
          $("form").trigger("reset");
          alertify.success(data.Message);
        }
        else {
          alertify.error(data.Message);
        }
      },
      error: function (xhr, errorThrown) {
        console.log(xhr, errorThrown);
      },
      cache: false,
      contentType: false,
      processData: false
    });

  });
</script>


{% endblock content%}