{% extends "Admin/Dashboard/dashboardLayout.html" %}
{% block content %}

<div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Comments</h4>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid col-md-9 col-lg-10">
           <div class="table-responsive">
               <table class="table table-bordered table-hover">
                  <thead class="thead-dark ">
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Country</th>
                      <th scope="col">Message</th>

                  </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Shaika</th>
                  <td>Shaika@gmail.com</td>
                  <td>Srilanka</td>
                  <td>Tesrt hhjjj kllji </td>
              </tr>
              
          </tbody>
      </table>
  </div>
</div>





{% endblock content %}





