{% extends "website/homeLayout.html" %}
{% block content %}

<link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">

</section>
<section class="page-section about-heading">
  <div class="container">
   <div class="about-heading-content mt-2">
    <div class="row">
      <div class="col-xl-8 col-lg-6 mx-auto mt-2">
        <div class="bg-faded rounded p-5" style="background-color: #cdcdd8">
          <h5 class="section-heading mb-2">
            <span class="section-heading-lower">STAR AWARDS – 2015 , 2012, 2007, 2006</span>
          </h5>
          <!-- subTittle -->
          <p>gghfhgfg</p>
          <hr>

          <p class="mt-2">For The Best Performing Entrepreneurs – Central Province. Large Scale (Manufacturing Sector).</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-8 col-lg-6 mx-auto mt-2">
        <div class="bg-faded rounded p-5" style="background-color: #cdcdd8">
          <h5 class="section-heading mb-2">
            <span class="section-heading-lower ">5S PRODUCTIVITY AWARDS – 2008</span>
          </h5>
          <hr>
          <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS_BJ_ORp3B73HmJyS6qk-A0mGfuMC3UrI5n4FWCep3y5i4n5ZA" alt="">

          <p class="mt-2">For The Best Performing Entrepreneurs – Central Province. Large Scale (Manufacturing Sector) – 1st Place.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</section>


{% endblock content %}





