{% extends "website/homeLayout.html" %}
{% block content %}

<link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">

</section>
<section class="page-section about-heading">
  <div class="container">
    <div class="about-heading-content mt-2">
      {% for award in AllAwards %}
      {% if not award.PostImage %}
      <div class="row">
        <div class="col-xl-8 col-lg-6 mx-auto mt-2">
          <div class="bg-faded rounded p-5" style="background-color: #cdcdd8">
            <h5 class="section-heading mb-2">
              <span class="section-heading-lower">{{ award.PostTittle }}</span>
            </h5>
            <!-- subTittle -->
            {% if award.PostSubTitle %}
            <p>gghfhgfg</p>
            {% endif %}
            <hr>

            <p class="mt-2">{{ award.PostContent }}</p>
          </div>
        </div>
      </div>
      {% else %}
      <div class="row">
        <div class="col-xl-8 col-lg-6 mx-auto mt-2">
          <div class="bg-faded rounded p-5" style="background-color: #cdcdd8">
            <h5 class="section-heading mb-2">
              <span class="section-heading-lower ">{{ award.PostTittle }}</span>
            </h5>
            <!-- subTittle -->
            {% if award.PostSubTitle %}
            <p>gghfhgfg</p>
            {% endif %}
            <hr>
            <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{{ url_for('static',filename = award.PostImage) }}" alt="">
            <p class="mt-2">{{ award.PostContent }}</p>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}


    </div>
  </div>
</section>

<script>
    function startRefresh() {
      $.get('', function (data) {
        $(document.body).html(data);
      });
    }
    $(function () {
      setTimeout(startRefresh, 10000);
    });
  </script>


{% endblock content %}