{% extends "website/homeLayout.html" %}
{% block content %}

<section class="page-section about-heading">

  <div class="col-lg-12 mt-2">
    <!-- Default form contact -->
    <form class="text-center border border-light p-5" action="#!">
      <p class="h4 mb-4">Supplier Application</p>
      <div class="row">
        <div class="col-md-6">
          <label>Personel Details</label>


          <!-- Name -->
          <input type="text" class="form-control mb-4" id="TextBoxName" placeholder="Name">
          <!-- Address -->
          <input type="text" class="form-control mb-4" id="TextBoxAddress" placeholder="Residential Address">
          <!-- contact Number -->
          <input type="text" class="form-control mb-4" id="TextBoxContactNumber" placeholder="Contact Number">
          <!-- Email -->
          <input type="email" class="form-control mb-4" id="TextBoxEmail" placeholder="E-mail">



          <!-- Copy -->
          <!-- <div class="custom-control custom-checkbox mb-4">
      <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
      <label class="custom-control-label" for="defaultContactFormCopy">Send me a copy of this message</label>
  </div> -->


        </div>
        <div class="col-md-6">
          <!-- product Details       -->
          <label>Product Details</label>
          <select class="browser-default custom-select mb-4" id="DropDownProductItems">
          </select>

          <!--Product Quantity-->
          <input type="text" id="TextBoxPrice" class="form-control mb-2" placeholder="Price">

          <button type="button" class="btn btn-primary mb-2" id="ButtonAddToTable">Add to table</button>

          <table class="table table-bordered" id="ProductTable">
            <thead>
              <tr>
                <th scope="col">Raw Material Name</th>
                <th scope="col">Unit Price (1 KG)</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="TableProductListBody">


            </tbody>
          </table>

        </div>




      </div>
      <!-- Send button -->

      <button class="btn btn-info" id="ButtonSubmit" type="button">Submit</button>

    </form>
    <!-- Default form contact -->
  </div>

</section>

<script>

  var TableList = [];

  $(document).ready(function () {
    LoadDropDown();
    $('#ProductTable').hide();


  });

  $('#ButtonSubmit').click(function () {
    var Name = $('#TextBoxName').val();
    var Address = $('#TextBoxAddress').val();
    var ContactNumber = $('#TextBoxContactNumber').val();
    var Email = $('#TextBoxEmail').val();

    if (Name == "" || Address == "" || ContactNumber == "" || Email == "") {
      alertify.error("All fields must be filled!");
      return;
    }

    if (TableList.length == 0) {
      alertify.error("Atleast one item must be added to table!");
      return;
    }
    $data = { "RowMaterialList": JSON.stringify(TableList), "Name": Name, "Address": Address, "ContactNumber": ContactNumber, "Email": Email }
    $.ajax({
      type: 'post',
      data: $data,
      url: '/Supplier_Application',
      beforeSend:function(){alertify.warning("Validating Email!")},
      success: function (data) {
        if (data.Type == "Success") {
          alertify.success(data.Message);
          ClearAll();
          return;
        }
        alertify.error(data.Message);
      }, error: function (xhr, errorThrown) {
        console.log(xhr, errorThrown);
      }
    });
  });

  $('#ButtonAddToTable').click(function () {
    if ($('#TextBoxPrice').val() != "") {
      obj = { "RowMaterialName": $('#DropDownProductItems :selected').text(), "RowMaterialID": $('#DropDownProductItems').val(), "Price": $('#TextBoxPrice').val() }
      TableList.push(obj);
      FillTable();
      ClearProductSection();
      if (TableList.length > 0) {
        $('#ProductTable').show();
      }
      return;
    }
    alertify.error("Please insert Price!");
  });

  function ClearProductSection() {
    $('#DropDownProductItems').prop('selectedIndex', 0);
    $('#TextBoxPrice').val("");
  }

  function FillTable() {
    $("#ProductTable > tbody").empty();
    $.each(TableList, function (index, value) {
      $String = "<tr><td>" + value.RowMaterialName + "</td><td>" + value.Price + "</><td><button class='btn btn-danger' onclick='DeleteFromArray(" + index + ")'>Delete</td></tr>";
      $('#ProductTable > tbody:last-child').append($String);
    });
  }

  function DeleteFromArray(index) {
    TableList.splice(index, 1);
    if (TableList.length == 0) {
      $('#ProductTable').hide();
    }
    FillTable();
  }


  function LoadDropDown() {
    $.ajax({
      type: 'get',
      url: '/GetRowMaterialsDropDown',
      success: function (data) {
        var options = '';
        for (var x = 0; x < data.length; x++) {
          options += '<option value="' + data[x]['id'] + '">' + data[x]['ItemName'] + '</option>';
        }
        $('#DropDownProductItems').html(options);
      },
      error: function (xhr, errorThrown) {
        console.log(xhr, errorThrown);
      }
    });
  }

  function ClearAll(){
    $('#TextBoxName').val('');
    $('#TextBoxAddress').val('');
    $('#TextBoxContactNumber').val('');
    $('#TextBoxEmail').val('');
    TableList = [];
    FillTable();
    ClearProductSection();
    LoadDropDown();
    $('#ProductTable').hide();
  };

</script>




{% endblock content%}