{% extends "Admin/Dashboard/dashboardLayout.html" %}
{% block content %}

<div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="page-breadcrumb">
            <div class="row">
                <div class="col-12 d-flex no-block align-items-center">
                    <h4 class="page-title">Post Awards</h4>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid col-md-9 col-lg-10">

         <form>
          <div class="form-group">
            <label for="exampleFormControlInput1">Tillte<span style="color: red">*</span></label>
            <input type="text" class="form-control" id="exampleFormControlInput1" style="border-color: black" required="">
        </div>

        <div class="form-group">
            <label for="exampleFormControlInput1">Sub tittle</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" style="border-color: black" >
        </div>



        <div class="form-group">
            <label for="exampleFormControlTextarea1">Content<span style="color: red">*</span></label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" style="border-color: black" required=""></textarea>
        </div>

        <div class="form-group">
            <label for="exampleFormControlFile1">Image</label>
            <input type="file" class="form-control-file" id="exampleFormControlFile1" style="border-color: black">
        </div>

        <button type="button" class="btn btn-dark mt-2" >Submit</button>

    </form>

    </div>



{% endblock content %}


